/** overriding bootstrap css **/
[class*="span"] {
	margin-left: 0;
}
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

#imgDiv {
	text-align: center;
}

.menu>.active>a,.menu>.active>a:hover {
	background-color: #30339C;
	color: #FFFFFF;
}
/* Custom container */
.container {
	margin: 0 auto;
	min-height:570px;
	max-width: 1000px;
}

/* contents styling */

#homeContents {
	margin: 60px 0;
	text-align: center;
}

#resultsSummary {
	text-align: right;
}

#stepOneContents {
	margin: 60px 0;
	text-align: center;
}

/* Main marketing message and sign up button */
.jumbotron {
	/* margin: 35px 0; */
	text-align: right;
}
.breadcrumb  {
	margin: 0px;
}


/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

.navbar .navbar-inner {
	padding: 0;
}

.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}

.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

.footer {
	margin : 0px;
	text-align: center;
}

.pagination {
	text-align: right;
}

.table th, .table td{
	word-wrap: break-word;
}
